/* *{
    padding:0;
    margin:0;
    box-sizing:border-box;
}


.navbar ul{
    list-style-type: none;
    background-color: #648550;
    padding:px;
    margin: 0px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a{
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    font-family: lora;
    font-weight: bold;
    font-size: 30px;
 
}

.navbar a:hover{
    background-color: #C2C8A0;
    margin: 20px 20px;
}

.navbar li{
    flex:1;
    text-align: center;

}

.navbar li.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 0;
}

#logo{

    width:120px;
    height:120px;
}

.heroimage{
    width:100%;
    height:800px;
    background:url(assets/Heroiamge.png); 
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
             
}

.story-container{
    display: flex;
    align-items: center;
    background-color: #FAF3D7;
    font-size: 20px;
}

.story-image{
    margin: 20px 20px;
    padding: 10px 10px 10px 10px;
   
}

.story-text{
    margin:50px 50px ;
    margin-left: 10px;
    padding-left: 10px ;
    
}

.story-text h1{
   
    font-family: merienda;
    font-size:40px; 

      
}

.story-text p{

    font-family: dancing-script;
}


/* Services section of the flower shop*/
/* .card-container{
    display:flex;
    justify-content: center;
    background-color:#EBD7D0;
}

.services-container h1{
    font-family:merienda;
    font-size: 40px;
    padding:20px;
    background-color: #EBD7D0;
    display:flex;
    justify-content: center;
     
}

.service-card h2{
    font-family: dancing-script;    
    margin: 30px 30px 30px 30px;
    padding-top:10px;
    font-size: 30px;
}

.service-card{
    border: #610606 5px solid; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 350px;
    padding:10px; 
    margin:20px 30px 20px 30px; 
} */

/* .service-card img{
    padding: 0px 5px 0px 5px;
    width: 200px;
    height:auto;
}    

.service-card p{
    /* border: #010101 solid 3px; */
    /* margin: 5px 5px;
    padding-top: 20px;
    font-family: dancing-script;
    font-size: 15px;
}     */ 



:root{
    --pink:#e9a4ce; 
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    outline: none; border: none;
    text-decoration: none;
    transition: 0.2s linear;
    user-select: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 0.5rem;
    margin: 2rem 0;
    background: rgba(225, 51, 153, .05);
}

.heading span{
    color: var(--pink);
}

/*Shop Now button in the hero image*/

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #f3e1e1;
    color: black;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 2.5rem;
   
}

.btn:hover{
    background: #c09f9a;
}
header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color:var(--pink);
}

header .navigation-bar a{
    font-size: 3rem;
    padding:0 1.5rem;
    color: #666;
}

header .navigation-bar a:hover{
    color:var(--pink);
}

header .icons a{
    font-size: 2rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.hero-image{
    display:flex;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    min-height: 80vh;
    background: url(assets/heroimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
     
}

.hero-image .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1; 
    padding: 2rem;
    
}

.hero-image .content{
    position: relative;
    z-index: 2;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    padding:2rem;
    border-radius: 10px;
    
}
.hero-image .Title{
    flex: 1;
    text-align:center;
}

.hero-image .Title h1{
    font-size: 10rem;
    color:white;
    font-family:'Playfair Display', serif;
    font-weight: 700px;
    margin-bottom: 1rem;
}

.hero-image .text{
    flex:1;
    text-align:left;
    padding-left: 2rem;
}

.hero-image .text span{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    padding:1rem 0;
    line-height: 1.5;
       
}


.hero-image .text p{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    padding:1rem 0;
    line-height: 1.5;
      
}

.story .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom:3rem;
}

.story .row .videos{
    flex:1 1 40rem;
    position: relative;
}

.story .row .videos video{
    width:100%;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.story .row .videos h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: #f3f0eb;
    width: 100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.story .row .content{
    flex:1 1 40rem;
}

.story .row .content h3{
    font-size: 3rem;
    color: #333;
}

.story .row .content p{
    font-size: 2.2rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

/*SHOP SECTION*/

.products .box-container{
    display:flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.products .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,0.05);
    border-radius: 3rem;
    border:1px solid rgba(0,0,0,0.1);
    position:relative;
}

.products .box-container .box .discount{
    position: absolute;
    top:1rem; left:1rem;
    padding:.7rem 1rem;
    font-size: 2rem;
    color:var(--pink);
    background: rgba(255,51,153,.05);
    z-index: 1;
    border-radius: 0.5rem;
}

.products .box-container .box .image{
    position:relative;
    text-align: center;
    padding-top:4rem;
    padding-right:0.5rem;
    padding-left:0.5rem;
    overflow:hidden;
}

.products .box-container .box .image img{
    height:25rem;
    transition:transform 0.3s ease;
    transform: scale(1);
    
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);

}

.products .box-container .box .image .icons{
    position:absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:bottom 0.3s ease;
}

.products .box-container .box:hover .image .icons{
    bottom:0;
   

}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background:#9f6564;
    color:#f3f0eb;
    text-align:center;
    transition: backgorund 0.3s ease;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: 0.1rem solid #f3f0eb;
    border-right: 0.1rem solid #f3f0eb;
    width:100%;
}

.products .box-container .box .image .icons a:hover{
    background: #c09f9a;
}

.products .box-container .box .content{
    padding:2rem;
    text-align:center;
}

.products .box-container .box .content h3{
    font-size:2.5rem;
    color:black;
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color:rgb(212, 131, 131);
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}

/*SERVICES SECTION*/

.services .box-container{
    display:flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.services .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,0.05);
    border-radius: 3rem;
    border:1px solid rgba(0,0,0,0.1);
    position:relative;
}

.services .box-container .box .discount{
    position: absolute;
    top:1rem; left:1rem;
    padding:.7rem 1rem;
    font-size: 2rem;
    color:var(--pink);
    background: rgba(255,51,153,.05);
    z-index: 1;
    border-radius: 0.5rem;
}

.services .box-container .box .image{
    position:relative;
    text-align: center;
    padding-top:4rem;
    padding-right:0.5rem;
    padding-left:0.5rem;
    overflow:hidden;
}

.services .box-container .box .image img{
    height:25rem;
    transition:transform 0.3s ease;
    transform: scale(1);
    
}

.services .box-container .box:hover .image img{
    transform: scale(1.1);

}

.services .box-container .box .image .icons{
    position:absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
    transition:bottom 0.3s ease;
}

.services .box-container .box:hover .image .icons{
    bottom:0;

}

.services .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background:#9f6564;
    color:#f3f0eb;
    text-align:center;
    transition: backgorund 0.3s ease;
}

.services .box-container .box .image .icons .cart-btn{
    border-left: 0.1rem solid #f3f0eb;
    border-right: 0.1rem solid #f3f0eb;
    width:100%;
}

.services .box-container .box .image .icons a:hover{
    background: #c09f9a;
}

.services .box-container .box .content{
    padding:2rem;
    text-align:center;
}

.services .box-container .box .content h3{
    font-size:2.5rem;
    color:rgb(212, 131, 131);
}

/*CONTACT SECTION*/

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: stretch;
    margin:0;
}

.contact .row form{
    flex:1 1 45rem;
    padding: 2rem 2.5rem;
    box-shadow: 0.2rem 0.4rem 0.5rem rgb(0, 0, 0, 0.1); 
    border: 0.5rem solid rgb(0, 0, 0, 0.1);
    background: white;
    border-radius: 0.5rem; 
       
}

.contact .row .image{
    flex: 1 1 30rem;
    text-align: right;
    overflow:hidden;
    /*border-radius:60px 60px 60px 60px;*/
    
}

.contact .row .image img{
    width: 100%;
    object-fit: cover;
    margin: 10px 0;
    /*border: 10px solid black;*/
    
    margin-left:40px; 

}

.contact .row form .box{
    padding: 1rem;
    padding-bottom: 5rem;
    font-size:2.5rem ;
    color:black;
    text-transform: none;
    border:0.5rem solid rgb(0,0,0,0.1); 
    border-radius: 0.5rem;
    margin: 0.7rem 0;
    width: 100%;
    margin-bottom: 2rem;
   
}

.contact .row form .box:focus{
    border-color: #e9a4ce;
}

.contact .row form textarea{
    font-size: 1.9rem;
    height:15rem;
    resize: none;
    margin-bottom:2rem;

} 

/*BENEFITS SECTION*/

.icons-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top:30px;
}

.icons-container .icons{
    background: #fff;
    border: .1rem solid rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.icons-container .icons img{
    height: 5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color: #333;
    padding-bottom: .5rem;
    font-size: 2rem;
}

.icons-container .icons span{
    color: #555;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}


/*FOOTER SECTION*/


.footer {
    background-color: #eee; 
    color: #000000; 
    padding: 2rem; 
    text-align: center; 
    margin-top: 50px;
}


.footer .box-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 2rem; 
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto; 
    padding-top: 2rem;
    
        
}

.footer h3 {
    margin-bottom: 4rem; 
    font-size: 3rem; 
    color: #000000; 
}

.footer a {
    color: #000000; 
    text-decoration: none; 
    display: block; 
    margin-bottom: 0.5rem;
    font-size:2.5rem;
}

.footer a:hover {
    color: #a85b5b; 
}


.footer .quick.links {
    flex: 1 1 20rem; 
}

.footer .map {
    flex: 1 1 30rem; 
}

.footer .map iframe {
    width: 80%; 
    height: 250px; 
    border: 0; 
    border-radius: 8px; 
}


.footer .contact.info {
    flex: 1 1 20rem; 
}

.footer .contact.info a {
    display: block; 
    margin-bottom: 0.5rem; 
}

.footer .social.icons {
    margin-top: 1rem; 
}

.footer .social.icons i{
    font-size: 4rem;
    vertical-align: middle;
    transform:none;
}
.footer .social.icons a {
    color: #a85b5b; 
    margin: 0 0.5rem; 
    font-size: 3rem; 
    display:inline-block;
    text-decoration: none; 
}

.footer .social.icons a:hover {
    color: #c09f9a; 
}


/*MEDIA QUERIES*/

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .hero-image ,content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align:center;
    }

    .hero-image .Title{
        margin-bottom: 1rem;
    }

    .hero-image .Title h1{
        font-size: 8rem;
    }

    .hero-image .text{
        text-align:center;
        padding-left:0;
    }

    .hero-image .text span{
        font-size: 2rem;
    }

    .hero-image .text p{
        font-size: 1.5rem;
    }

    .contact .row{
        flex-direction: column;
    }

    .contact .row .imageg{
       display:none;
    }

    .contact .row form{
        flex: 1 1 100%;
        padding: 1rem;
    }

    .icons-container{
        gap: 1rem;
        justify-content: center;
    }

    .icons:nth-child(3){
        margin-left: auto;
        margin-right: auto;
    }

    .icons-container .icons h3{
        font-size: 1.8rem;
    }

    .footer .box-container{
        gap:1rem;
    }
}

@media (max-width:768px){

    header .fa-bars{
        display:block;
    }

    header .navigation-bar{
        position:absolute;
        top:100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navigation-bar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navigation-bar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: 1rem solid rgba(0,0,0,.1);
        display: block;
         
    }

    .hero-image .Title h1{
        font-size: 6rem;
    }

    .hero-image .text {
        font-size: 0.1rem;
    }

    .hero-image .text span{
        font-size: 1.8rem;
    }

    .hero-image .text p{
        font-size: 1.2rem;
    } 

    .hero-image .text a{
        font-size: 1.2rem;
        padding:1rem;
    }

    .contact .row form .box{
        font-size: 1.5rem;
        padding: 1rem;
    }

    .contact .row form textarea{
        font-size: 1.5rem;
    }

    .contact .row .image {
       display:none;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }

    .icons-conatiner .icons{
        padding: 1.5rem;
    }
    
    .icons-container .icons span{
        font-size: 1.5rem;
    }

    .icons-conatiner{
        flex-direction: column;
        align-items: center;
    }

    .icons:nth-child(3){
        margin-left:auto;
        margin-right:auto;
        width:100%;
        text-align:center;
    }

    .footer h3{
        font-size: 2.5rem;
        margin-top:1.8rem
    }

    .footer a{
        font-size: 2rem;
    }
}


@media (max-width:450px){

    html{
        font-size: 50%;
    } 

    .heading{
        font-size: 3rem;
    }

    .contact .row form .box{
        font-size: 1.2rem;
        padding: 0.6rem;
    }

    .contact .row form textarea{
        font-size:1.3rem;
    }

    .contact .row .image {
        display:none;
    }

    .icons-container .icons{
        padding: 1rem;
    }

    .icons-container .icons h3{
        font-size: 1.5rem;
    }

    .icons-container .icons span{
        font-size: 1.3rem;
    }

    .icons-container{
        align-items: center;
    }

    .icons:nth-child(3){
        margin-left:auto;
        margin-right:auto;
        width:100%;
        text-align:center;
    }

    .footer{
        padding:1rem;
    }

    .footer h3{
        font-size:2.5rem;
        margin-top: 1.8rem;
       
    }

    .footer a{
        font-size:2rem;
    }
}
